body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  width: auto;
}
/* main container changes */
main {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 380px;
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
  align-items: center;
}
/* initial paragraph changes */
p {
  font-size: 14px;
  color: hsl(0, 0%, 100%);
}
/* image css */
img {
  height: 80px;
  width: 80px;
  margin-top: 25px;
  border-radius: 50%;
}
/* Heading changes */
.h-h {
  color: hsl(0, 0%, 100%);
  margin-bottom: 0px;
  font-weight: 700;
}
.h-p {
  font-size: 14px;
  margin-top: 5px;
  margin-left: 18px;
  color: hsl(75, 94%, 57%);
  font-size: 400;
}
/* BOX CHANGES CONTAINING github,likndin,etc */
.button-name {
  background-color: rgb(51, 51, 51);
  color: white;
  border-radius: 10px;
  width: 290px;
  padding: 8px;
  margin-bottom: 15px;
}
.button-name:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
  cursor: pointer;
  transition: all 0.3s;
}

/* MOBILE CSS */
@media (max-width: 375px) {
  body {
    justify-content: center;
    align-items: center;
  }
  main {
    width: 300px;
    height: 500px;
  }
  p {
    font-size: 12px;
  }
  .button-name {
    width: 270px;
  }
}
